@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.Contact-hero-section {
    background-image: url(" /src/assets/imgs/header-light.jpg");
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact-hero-title {
    color: #353b32;
    font-size: 4rem;
    margin: 0;
    animation: fadeIn 1s ease-out;
}

.contact-section {
    padding: 3rem 0;
    animation: fadeIn 1s ease-out 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.contact-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.contact-form {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.contact-form input,
.contact-form textarea {
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: white;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #1d3557;
    color: #f1faee;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
    background-color: #f1faee;
    color: #1d3557;
    transform: translateY(-3px);
}