/* HomeStyles.css */

.home-container {
    font-family: 'Roboto', sans-serif;
}

.hero-section {
    background-color: #1d3557;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: #f1faee;
    font-size: 4rem;
    margin: 0;
    animation: fadeInDown 1.5s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.about-section {
    padding: 3rem 0;
}

.about-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
/* HomeStyles.css */

/*... other styles ...*/

.animated-background-section {
    height: 300px;
    background: linear-gradient(
            135deg,
            rgba(29, 53, 87, 1) 25%,
            rgba(69, 123, 157, 1) 50%,
            rgba(29, 53, 87, 1) 75%
    )
    no-repeat;
    background-size: 300% 300%;
    animation: backgroundAnimation 5s ease infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
