/* HomeStyles.css */

.home-container {
    font-family: 'Roboto', sans-serif;
}

.hero-section {
    background-image: url('https://mcdn.wallpapersafari.com/335/23/18/2tJ4sg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-content {
    text-align: center;
    z-index: 1;
}

.hero-title {
    color: #f1faee;
    font-size: 4rem;
    margin: 0;
    animation: fadeInDown 1.5s ease-in-out;
}

.hero-cta {
    background-color: #1d3557;
    color: #f1faee;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
    animation: fadeIn 2s;
    transition: all 0.3s ease;
}

.hero-cta:hover {
    background-color: #457b9d;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.about-section {
    padding: 3rem 0;
}

.about-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.animated-background-section {
    height: 300px;
    background: linear-gradient(
            135deg,
            rgba(29, 53, 87, 1) 25%,
            rgba(69, 123, 157, 1) 50%,
            rgba(29, 53, 87, 1) 75%
    )
    no-repeat;
    background-size: 300% 300%;
    animation: animatedBackground 3s linear infinite;
}

@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -300% 0;
    }
}

/* HomeStyles.css */
/* ... previous styles ... */

.team-section {
    padding: 3rem 0;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.team-member p {
    font-size: 1rem;
}

.cta-section {
    padding: 3rem 0;
    text-align: center;
    background-color: #1d3557;
    color: #f1faee;
}

.cta-button {
    background-color: #457b9d;
    color: #f1faee;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #a8dadc;
}


