:root {
    --primary-color: #1d3557;
    --secondary-color: #a8dadc;
    --accent-color: #457b9d;
    --text-color: #333;
    --hover-color: #fff;
    --hover-bg-color: #333;
}

/* Wrapper for the main content */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: all 0.2s ease;
    position: relative;
}

nav a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.2s ease;
}

nav a:hover:before {
    width: 100%;
}

nav a:hover {
    color: var(--hover-color);
    background-color: var(--hover-bg-color);
}

nav .active {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* Header */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--primary-color);
}

/* Logo */
.logo img {
    max-width: 1%;
}


/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* Navigation */
    nav {
        flex-wrap: wrap;
    }

    nav ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    nav li {
        margin: 0 5px;
    }

    nav a {
        padding: 10px;
    }


}

/* Animated styles */
nav a:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

nav a:hover:before {
    width: 100%;
    height: 3px;
    border-radius: 3px;
}

nav a:focus:before {
    width: 100%;
    height: 3px;
    border-radius: 3px;
}

nav .active:before {
    width: 100%;
    height: 3px;
    border-radius: 3px;
}


/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* Navigation */
    nav {
        flex-wrap: wrap;
    }

    nav ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    nav li {
        margin: 0 5px;
    }

    nav a {
        padding: 10px;
    }


}

