/* src/components/Team.css */

.section#team {
  background: linear-gradient(
          90deg,
          rgba(45, 165, 255, 1) 45%,
          rgba(1, 223, 245, 1) 100%
  );
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}

.team h2 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 1.5rem 0;
  position: relative;
  padding-bottom: 1rem;
  text-align: center;

}

.team h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 10%;
  height: 1px;
  background: var(--color-white);
  transform: translateX(-50%);
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.team-member {
  width: 150px;
  text-align: center;
}

/* src/components/Team.css (continued) */

.team-member img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.team-member img:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.team-member h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.team-member p {
  font-size: 1rem;
  font-weight: 400;
}
