@keyframes iconFloat {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(120, 163, 255, 0.65);
    color: #f1faee;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s;
    animation: pulse 2s infinite;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.social-media i {
    font-size: 1.2rem;
}

.social-media a:hover {
    background-color: #f1faee;
    color: #1d3557;
    transform: scale(1.2);
    animation: iconFloat 1s linear infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


.social-media a:hover {
    background-color: #74ff79; /* yellow */
    color: black;
}

